Rozszerzone Systemy Informatyczne - Java/PS3/WSClient/xml-resources/web-service-references/MTOMWSServerService/wsdl/localhost_8080/WebServerGlass/MTOMWSServerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://MTOM/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://MTOM/" name="MTOMWSServerService">
<wsp:Policy wsu:Id="MTOMWSServerPortBinding_MTOM_Policy-MTOMWSServerPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://MTOM/" schemaLocation="http://localhost:8080/WebServerGlass/MTOMWSServerService?xsd=1"/>
</xsd:schema>
</types>
<message name="downloadImage">
<part name="parameters" element="tns:downloadImage"/>
</message>
<message name="downloadImageResponse">
<part name="parameters" element="tns:downloadImageResponse"/>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"/>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"/>
</message>
<message name="getPDFFile">
<part name="parameters" element="tns:getPDFFile"/>
</message>
<message name="getPDFFileResponse">
<part name="parameters" element="tns:getPDFFileResponse"/>
</message>
<portType name="MTOMWSServer">
<operation name="downloadImage">
<input wsam:Action="http://MTOM/MTOMWSServer/downloadImageRequest" message="tns:downloadImage"/>
<output wsam:Action="http://MTOM/MTOMWSServer/downloadImageResponse" message="tns:downloadImageResponse"/>
</operation>
<operation name="echo">
<input wsam:Action="http://MTOM/MTOMWSServer/echoRequest" message="tns:echo"/>
<output wsam:Action="http://MTOM/MTOMWSServer/echoResponse" message="tns:echoResponse"/>
</operation>
<operation name="getPDFFile">
<input wsam:Action="http://MTOM/MTOMWSServer/getPDFFileRequest" message="tns:getPDFFile"/>
<output wsam:Action="http://MTOM/MTOMWSServer/getPDFFileResponse" message="tns:getPDFFileResponse"/>
</operation>
</portType>
<binding name="MTOMWSServerPortBinding" type="tns:MTOMWSServer">
<wsp:PolicyReference URI="#MTOMWSServerPortBinding_MTOM_Policy-MTOMWSServerPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="downloadImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPDFFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MTOMWSServerService">
<port name="MTOMWSServerPort" binding="tns:MTOMWSServerPortBinding">
<soap:address location="http://localhost:8080/WebServerGlass/MTOMWSServerService"/>
</port>
</service>
</definitions>